body {
  --bg-color: white;
  --fg-color: black;
  --mid-color: #eee;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  background: var(--bg-color);
  color: var(--fg-color);
}

input, select, button {
  font-size: 1em;
  padding: 0.25rem 0.25rem;
}

.muted {
  color: gray;
  font-size: 80%;
}

@media (prefers-color-scheme: dark) {
  body {
    --bg-color: black;
    --fg-color: white;
    --mid-color: #444;
  }
}
